body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa; /* Light background color */
}

.App {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff; /* White background */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #3498db;
}

.counter {
  margin-top: 30px;
}

button {
  background-color: #e67e22; /* Orange color */
  color: #fff;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d35400; /* Darker orange on hover */
}

.filter-list {
  margin-top: 30px;
}

.dropdown-button {
  margin-right: 15px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ecf0f1;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #d5dbdb;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}
